<!DOCTYPE html>
<html>
<head>
  <title>Directories</title>
  <%= stylesheet_link_tag    "directories/application", media: "all" %>
  <%= javascript_include_tag "directories/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
