<div class="row">
  <div class="col-xs-12">
    <h1 class="page-title txt-color-blueDark">

   	 <%= body if defined?(body) %>
     
    	<i class="fa <%= icon %> fa-fw "></i> <%= title %> <span>&gt;
       <%= subtitle %> </span></h1>
  </div>
</div>
